<div class="row">
    <user-wallet></user-wallet>
</div>

<div class="row">
  <mat-card id="yield-research-card">
    <mat-card-header>
      <mat-card-title>yields</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="pool-select">
        <mat-label>Select Token/Project LP</mat-label>
        <mat-select (selectionChange)="handleSelectChange($event)">
          <mat-option *ngFor="let pool of pools" [value]="pool.id">
            {{pool.token}} - {{pool.project}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <br/>
      <span style="margin-left: 10px; font-size: 20px;">{{ selectedPool.token }} - {{ selectedPool.project }} - {{ selectedPool.network }}</span>
      <app-chart
          [poolId]="selectedPoolId"
      ></app-chart>



    <!--
    <div *ngIf="selectedPoolId.length > 0">
        <mat-form-field class="deposit-field">
            <mat-label>Calculate Hypothetical Return</mat-label>
            <input matInput 
              placeholder="Amount"
              type="number"
              (change)="depositUpdated($event)"
              >
        </mat-form-field>
    </div>
    -->

    </mat-card-content>
  </mat-card>


</div>