
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">zurik</a>
  <span class="spacer"></span>
  <li class="no-bullet"><a routerLink="/assets" routerLinkActive="active" ariaCurrentWhenActive="page">assets</a></li>
</mat-toolbar>

<router-outlet></router-outlet>
