li.no-bullet {
    list-style-type: none; /* Remove bullets */

    padding: 0; /* Remove padding */
    margin: 10px 0 0 0; /* Remove margins */
    color: white !important;
    text-decoration: none !important;
}

.spacer {
    width: 20px;
}

.large-spacer {
    width: 60px;
}

.header { 
    width: 100%;
    background-color: transparent;
    padding-left: 18%;
    padding-right: 18%;
}

.header > * {
    color: white;
    text-decoration: none;

}

a {
    color: white;
    text-decoration: none; /* no underline */
}

.icon-slot {
    font-size: 42px;
}

#connect-wallet-btn {
    background-color: grey !important;
}

.right-spacer {
    flex: 1 1 auto;
}

.active-route {
    text-decoration: underline;
}

#particles-js {
    margin-top: 300px;
    padding-left: 15%;
    height: 200px;
    width: 70%;
    position: fixed;
    z-index: -100;
}


