#vault-card {
    margin: 70px 180px;
}

.vault-info-card {
    margin: 10px;
}

.underlay {
    position: absolute;
    left: 65px;
    z-index: 1;
}

.overlay {
    z-index: 9999;
}

.double-token mat-card-title, .double-token mat-card-subtitle {
    padding-left: 20px;
}

a mat-icon {
    color: red;
}

mat-chip {
    width: 150px;
    margin: 5px;
}

.selected-chip {
    background-color: #df3939;
    color: white;
}

mat-card-header mat-icon {
    color: red;
}

.token-input {
    margin: 20px 5px 5px 5px;
    width: 150px;
    display: inline-block;
}

.max-chip {
    width: 60px;
    display: inline-block;
}

#add-liq-button {
    margin-left: 20px;
}

#add-liquidity-card-content {
    align-content: center;
    align-items: center;
}