<div class="row">
    <mat-card id="vault-card">
        <mat-card-header>

            <mat-card-header *ngIf="vault.token2 != ''" class="double-token">
                <img mat-card-avatar src='{{ "../../../assets/" + vault.img + ".png" }}' width="40" height="40" alt="USDC" class="token-icon overlay">
                <img mat-card-avatar *ngIf="vault.img2 != ''" src='{{ "../../../assets/" + vault.img2 + ".png" }}' width="40" height="40" alt="USDC" class="token-icon underlay">
                
                <mat-card-title>{{ vault.token1 }} {{ vault.token2 }}</mat-card-title>
                <mat-card-subtitle>{{ vault.network }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-header *ngIf="vault.img2 == ''">
                <img mat-card-avatar src='{{ "../../../assets/" + vault.img + ".png" }}' width="40" height="40" alt="USDC" class="token-icon overlay">
                <mat-card-title>
                    {{ vault.token1 }}
                </mat-card-title>
                <mat-card-subtitle>{{ vault.network }}</mat-card-subtitle>
            </mat-card-header>

            <a routerLink="/vaults" routerLinkActive="inactive" ariaCurrentWhenActive="page">
                <mat-icon aria-hidden="false" aria-label="go" fontIcon="west"></mat-icon>
            </a>


        </mat-card-header>

        <mat-card-content>
            <mat-card class="vault-info-card">
                <mat-card-header>
                    <mat-card-title>liquidity pools</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-chip-list>
                        <mat-chip>
                            <img matChipAvatar src="../../../assets/uni.png" alt="uniswap"/>
                            Uniswap V2
                        </mat-chip>
                        <mat-chip>
                            <img matChipAvatar src="../../../assets/uni.png" alt="uniswap"/>
                            Uniswap V3
                        </mat-chip>
                        <mat-chip class="selected-chip">
                            <img matChipAvatar src="../../../assets/hop.png" alt="hop"/>
                            Hop Protocol
                        </mat-chip>
                        <mat-chip>
                            <img matChipAvatar src="../../../assets/aave.png" alt="aave"/>
                            AAVE V3
                        </mat-chip>
                    </mat-chip-list>
                </mat-card-content>
            </mat-card>

            <mat-card class="vault-info-card">
                <mat-card-header>
                    <mat-card-title>performance</mat-card-title>
                    <mat-icon aria-hidden="false" aria-label="go" fontIcon="add" *ngIf="chartCollapsed" (click)="expandChart()"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="go" fontIcon="remove" *ngIf="chartCollapsed == false" (click)="collapseChart()"></mat-icon>
                </mat-card-header>
                <mat-card-content>
                    <div id="chart"></div>
                </mat-card-content>
            </mat-card>

            <mat-card class="vault-info-card">
                <mat-card-header>
                    <mat-card-title>add liquidity</mat-card-title>
                </mat-card-header>
                <mat-card-content id="add-lidquity-card-content">
                    <mat-form-field class="token-input" layout-align="center center">
                        <mat-label>WBTC</mat-label>
                        <input matInput type="number" placeholder="0.00 WBTC" (change)="tokenUpdated($event)" value="{{wbtc}}">
                    </mat-form-field>
                    <mat-chip class="max-chip">MAX</mat-chip>
                    <mat-icon aria-hidden="false" aria-label="go" fontIcon="add"></mat-icon>
                    <mat-form-field class="token-input" layout-align="center center">
                        <mat-label>USDT</mat-label>
                        <input matInput type="number" placeholder="0.00 USDT" (change)="tokenUpdated($event)" value="{{usdt}}">
                    </mat-form-field>
                    <mat-chip class="max-chip">MAX</mat-chip>
                    <button mat-raised-button color="primary" id="add-liq-button">Open Position</button>
                </mat-card-content>
            </mat-card>

        </mat-card-content>

    </mat-card>
</div>
