#home-heading {
    color: white;
    font-size: 36px;
    text-align: left;
}

#home-subheading {
    margin-top: 40px;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 600px;
    margin-bottom: 70px;
}

#home {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#newsletter-input {
    margin-top: 20px;
    align-content: center;
    text-align: center;
    color: #39FF14;
}

.placeholder {
    color: #B62020 !important;
}

.mat-input-element::data-placeholder{
    color: #B62020;
}

#launch-app {
    margin-left: 40%;
    width: 20%;
    color: white;
}

#tenets {
    margin-top: 200px;
    width: 60%;
    color: white;
}

#tenets-heading {
    color: #39FF14;

}

.tenet {
    width: 42%;
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    margin-left: 3%;
}

.tenet > h4 {
    text-decoration: underline;
}