<div id="home" class="flexbox-parent">
    <div id="intro">
        <div id="home-heading">Automated DeFi Yield Strategies</div>
        <div id="home-subheading">Asset management vaults which automatically capture the highest yields on a risk adjusted basis across decentralized protocols.</div>
        <button mat-raised-button color="primary" id="launch-app" disabled>Launch App</button>
    </div>
    <div id="tenets">
        <h2 id="tenets-heading">core tenets</h2>
        <div class="tenet">
            <h4>trustless</h4>
            <p>Asset strategies which do not require users to trust in centralized oracles or investment managers.</p>
        </div>
        <div class="tenet">
            <h4>composable</h4>
            <p>Elegant contract interactions to make treasury automation and the creation of protocol users a joy.</p>
        </div>
        <div class="tenet">
            <h4>decentralization</h4>
            <p>Events sourced from un-permissioned analyst users to provide market efficiencies with decentralized control.</p>
        </div>
        <div class="tenet">
            <h4>stakeholder governance</h4>
            <p>Risk and reward parameters set by depositors to provide maximum safety from governance manipulation.</p>
        </div>
    </div>

</div>